
<div class="top-bar">
    <button type="submit" class="btn btn-primary" style="float: right;margin-right: 2%;margin-top: 0.5%;" onclick="logoutUser()">Logout</button><br>
</div>

<nav class="menu" tabIndex="0">

    <header class="avatar">
        <img src="images/a.svg" alt="..." />
        <h3 style="color:#fff">Pharma Track</h3>
    </header>
           
    <ul>
        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fas fa-tachometer-alt fa-2x" style="color: white;margin-right: 20px;"></i>
                    Dashboard
            </span>
        </li>

        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fas fa-clipboard-list fa-2x" style="color: white;margin-right: 20px;"></i>
                    Billing Logs
            </span>
        </li>

        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fa fa-medkit fa-2x" style="color: white;margin-right: 20px;"></i>
                    Add Medicines
            </span>
        </li>

        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fa fa-medkit fa-2x" style="color: white;margin-right: 20px;"></i>
                    Add Stocks
            </span>
        </li>

        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fas fa-table fa-2x" style="color: white;margin-right: 20px;"></i>
                    Stock Table
            </span>
        </li>

        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fas fa-users fa-2x" style="color: white;margin-right: 20px;"></i>
                    Vendors
            </span>
        </li>

        <li tabIndex="0" >
            <span style="color: white" class="menu-links">
                <i class="fas fa-chart-pie fa-2x" style="color: white;margin-right: 20px;"></i>
                    Reorder
            </span>
        </li>
  
    </ul>
</nav>

<script>

function logoutUser()
{
    window.location = '/login/logutUser';
}

</script>