<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="/css/partial.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="viewscreen">
        <%- include('partials/sidebar.ejs') %>

        <div class="container">
            <div class="col-sm-3"></div>
            <div class="col-sm-8" style="border: 5px solid rgba(0,0,0,0.1);margin-top: 40px;">
                <center>
                    <h1 class="heading" style="color: black;"><u>Change Password</u></h1>
                </center>
                <div>
                    <form>
                        <div id="addInvalid" class="row">
                        </div>
                        <div class="form-group">
                            <label>*Old Change</label>
                            <input type="text" class="form-control" id="oldpassword" name="oldpass"
                                placeholder="Old Password" required>
                        </div>
                        <div class="form-group">
                            <label>*New Pasword</label>
                            <input type="text" class="form-control" id="newpassword" name="newpass"
                                placeholder="New Password" required="required">
                        </div>
                        <input class="btn btn-primary" type="button" value="Change Password"
                            onclick="changepassword()" />
                    </form>
                </div>
            </div>
        </div>
        <script src="/scripts/changepassword-js.js"></script>
</body>

</html>