<html>

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="css/partial.css" rel="stylesheet" type = "text/css">
    </head>

<body>
    <%- include('partials/sidebar.ejs') %>
</body>
</html>