<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Login</title>

   <!-- CSS -->
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/css/login.css">

   <!-- SCRIPT -->
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
   <div class="sidenav">
      <div class="login-main-text">
         <h2>Pharma Track<br> Login Page</h2>
         <p>Login from here to access.</p>
      </div>
   </div>

   <div class="main">
      <div class="col-md-6 col-sm-12">
         <div class="login-form">

            <div class="form-group">
               <label>User Name</label>
               <input type="text" class="form-control" placeholder="User Name" id="user_email">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" class="form-control" placeholder="Password" id="user_password">
            </div>

            <button type="submit" class="btn btn-black" id="submit_btn">Login</button>
            <a href="/user/orderMedicines"><button type="submit" class="btn btn-black" id="order_btn">Order</button></a>

         </div>
      </div>
   </div>

   <script src="/scripts/login.js"></script>
</body>

</html>