body {
	margin:  0px;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #fff;
}

.top-bar {
	background-color: #2984bd;
	height: 7.15vh;
}

.menu {
	background: #202d32;
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
    outline: none;
}


img {
    width: 40px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.avatar {
    background: #2577aa;
    padding: 0.2em 0.5em;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

 li {
    padding: 1em 1em 1.5em 1em;
    font-size: 0.95em;
    font-weight: regular;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}

.menu-links {
    left: 90px; 
    font-size: 15px;
} 

li:hover { 
    background-color: #2984bd;
} 